In [1]:
import pandas as pd

In [2]:
data = [{'a': 1, 'b': 2, 'c':3}, {'a':10, 'b': 20, 'c': 30}]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    a   b   c
0   1   2   3
1  10  20  30

Currently, I have a dataframe that looks like this :
```
	a	b	c
0	1	2	3
1	10	20	30
```

My goal is to make the dataframe look like this :

```
    a	b	category	amount
0	1	2	c	         3
1	1	2	d	         4
2	1	2	e	         5
```

In [5]:
data2 = [{'a': 1, 'b': 2, 'c':3, 'd': 4, 'e': 5}]
df = pd.DataFrame(data2)
df

   a  b  c  d  e
0  1  2  3  4  5

In [6]:
df.melt(id_vars=df.columns[:2], var_name='category', value_name='amount')

   a  b category  amount
0  1  2        c       3
1  1  2        d       4
2  1  2        e       5